/* Fonte DM Sans configurada no Google Fonts */
body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.App-header {
  background-color: #00468b; /* Azul escuro */
  color: white;
  padding: 20px;
}

.App-content {
  flex: 1;
  background-color: #d9d9d9; /* Cinza */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.App-footer {
  background-color: #00468b; /* Azul escuro */
  color: white;
  text-align: center;
  padding: 10px;
}

.App-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.App-button {
  background-color: white;
  border: 2px solid #00468b;
  color: #00468b;
  padding: 15px 30px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.App-button:hover {
  background-color: #00468b;
  color: white;
}

/* Tornando os campos de input maiores e responsivos */
input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
  max-width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box; /* Garante que o padding e a borda sejam calculados dentro do tamanho total do campo */
}

/* Estilos para a tabela */
.App-table-container {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.App-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.App-table th,
.App-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.App-table th {
  background-color: #00468b;
  color: white;
  font-weight: bold;
}

.App-table tbody tr:hover {
  background-color: #f1f1f1;
}

.App-button {
  background-color: white;
  border: 2px solid #00468b;
  color: #00468b;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.App-button:hover {
  background-color: #00468b;
  color: white;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .App-table {
    font-size: 14px;
  }

  .App-table th,
  .App-table td {
    padding: 8px;
  }

  .App-button {
    padding: 8px 16px;
    font-size: 12px;
  }
}

/* Estilo do header*/
.App-header {
  background-color: #00468b; 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 60px; /* Espaço entre a logo e o texto */
}

.App-logo {
  height: 90px;
  width: auto; 
}

.App-header h1 {
  margin: 0;
  font-size: 1.8rem;
}

/* Responsividade */
@media (max-width: 600px) {
  .App-header {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .App-header h1 {
    font-size: 1.5rem;
  }

  .App-logo {
    height: 40px;
  }
}
